<div class=" bg_footer">


  <div class="row  justify-content-around text-dark bg_footer ">

    <div class="col-lg-3 col-md-11 col-sm-11" >
      <h5 class=" fw-bold">Company</h5>
      <p>These cases are perfectly simple and easy to distin guish. In a free hour, when our power of choice is untram
        melled and when nothing prevents our being able to be circumstances and owing claim</p>
    </div>
    <ul class="col-lg-3 col-md-3 col-sm-3" style="list-style: none;">
      <h5 class=" fw-bold">Useful Links</h5>
      <li class="">
        <i class="fa-solid fa-phone "></i>
        <span>Phone: +00 654 321 9874</span>
      </li>
      <li class="">
        <i class="fa-solid fa-envelope"></i>
        <span>Email: info@emailname.com</span>
      </li>
      <li class="">
        <i class="fa-solid fa-location-dot"></i>
        <span>1622 Colins Street West, Strawberry (Le), ITALY</span>
      </li>
    </ul>
    <ul class="col-lg-3 col-md-3 col-sm-3" style="list-style: none;">
      <h5 class=" fw-bold">Social</h5>
      <i class="m-1 fa-brands fa-facebook icon-size"></i>
      <i class="m-1 fa-brands fa-twitter icon-size"></i>
      <i class="m-1 fa-brands fa-instagram icon-size"></i>
      <i class="m-1 fa-brands fa-linkedin icon-size"></i>
    </ul>
    <a href="#top" class=" col-2"> <i class="fa-solid fa-arrow-up"></i></a>
    © 2018 ThemeLooks All rights reserved
  </div>


</div>

<!-- <footer class="  p-2 bg-black text-center text-white">
© 2018 ThemeLooks All rights reserved
</footer> -->
