<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">




<nav class="w-100  px-3 cont ">
  <div class="  nav-style">
    <a href="" class="nav-link" [routerLink]="['/home/home']">Home</a>
    <a href="" class="nav-link" [routerLink]="['/home/products']">Products</a>
    <a href="" class="nav-link">About</a>
  </div>
  <img src="../assets/images/logo.png" alt="" class=" logo">


  <div class=" ">
    <a href="" [routerLink]="['/admin/home'] " class="nav-link d-inline-block mx-5"> Login</a>

    <i class="fa-solid fa-cart-shopping fs-5 "></i>
    <span class="fs-5 m-1">0</span>
  </div>


</nav>

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary bg-nav p-2 ">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Furniure</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-around" id="navbarNav">
          <a class="nav-link text-white active" aria-current="page" href="#" [routerLink]="['/home']">Home</a>
          <a class="nav-link text-white" href="#" [routerLink]="['/products']">products</a>
          <a class="nav-link text-white" href="#" [routerLink]="['/todos']">todos</a>
    </div>
    <div class=" m-1">
      <i class="fa-solid fa-cart-shopping fs-5 text-light"></i>
      <span class="fs-5 text-light m-1">0</span>
    </div>
  </div>
</nav> -->