<app-slider></app-slider>

<div class=" container my-5 fs-3">
  <h1 class=" text-center fw-bold">Moonlines</h1>
  <div class="row justify-content-center">
    <p class=" col-md-6 col-md-8 col-sm-12 txt">
      Moonlines Furniture Will Help You Create The Most Comfortable And Cozy Living
      Space Through Innovative, Trendy And Well Designed Solutions With Highest
      European Quality Standards And Yet Affordable Prices.
    </p>
  </div>
</div>

<div class=" container my-5 bg">
  <div class="row container">
    <div class="col-6 fs-1 fw-bold text-center align-self-center">Product Category</div>
    <div class="col-6 bg-light">
      <div class="row p-5  justify-content-around g-5">
        <div class="col-5 bg ">
          <img class=" img-size  " src="../assets/images/chair.jpg" alt="">
        </div>
        <div class="col-5 bg">
          <img class=" img-size " src="../assets/images/chair.jpg" alt="">
        </div>
        <div class="col-5 bg">
          <img class=" img-size" src="../assets/images/chair.jpg" alt="">
        </div>
        <div class="col-5 bg">
          <img class=" img-size" src="../assets/images/chair.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
<div class=" container my-5 ">
  <div class="row container">
    <div class="col-6 ">
      <img class=" w-100"
        src="https://cdn.shopify.com/s/files/1/0630/7400/9327/files/armchair-furniture-sketch-plan-draft_844x564_crop_center.jpg?v=1663244118"
        alt="_blank">

    </div>
    <div class="col-6 text-center align-self-center">

      <h1 class="fs-1 fw-bold ">Customizations</h1>
      <p class=" txt">
        Now with the help of our experts you can design and customize your own furniture
        Visit us in our showroom at Downtown Kattameya , Fifth Settlement
      </p>
    </div>

  </div>

</div>

<app-product-container></app-product-container>